body {
    font-family: sans-serif;
    background-color :#add8e6;
  }
  h1 {
    text-align: center;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #FFDEAD;
    color :#f8bc91be;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  #resultado {
    text-align: center;
  }
  
